[Unit]
Description=dnsserv
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/home/jchorlton/dnsserv/dnsserv serve --ca-path /home/jchorlton/dnsserv/certs/ca.pem --cert-path /home/jchorlton/dnsserv/certs/server.pem --key-path /home/jchorlton/dnsserv/certs/server-key.pem --dns-port 53 --https-port 443 --logtostderr

[Install]
WantedBy=multi-user.target
